
@{
    Layout = "~/Views/Shared/userView.cshtml";
}

<header>
  <div class="row-top">
    <div class="main">
      <div class="wrapper">
        <h1><a href="/User/index">Quotes Garden</a></h1>
        <nav>
          <ul class="menu">
            <li><a class="active" href="/User/index">About</a></li>
            <li><a href="/User/menu">Quotes</a></li>
             <li><a href="/User/search">Search </a></li>
            <li><a href="/Admin/login">Admin Login</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="row-bot">
    <div class="row-bot-bg">
      <div class="main">
        <h2>Quotes Garden</h2>
        <div class="wrapper">
          <div class="rightArea">

            <img id="img2" src="~/Images/slider-img1.jpg"/>
            </div>

        </div>
      </div>
    </div>
  </div>
</header>
<!--==============================content================================-->
<section id="content">
  <div class="main">
    
    <div class="wrapper">
      <article class="column-2">
        <div class="maxheight indent-bot">
          <h6 class="p2">Quotes Garden Helps you find quotes for any situation.</h6>
          <p class="p2">Explore the world of quotes.</p>
            </div>
        </article>
     </div>
  </div>
</section>
